{% extends 'base.html.twig' %}

{% block body %}
<div class="container text-center mt-5">
    <h1>Conecta tu inventario</h1>
    <p>Necesitamos conectar con Steam para leer tus skins.</p>
    <a href="{{ path('steam_login') }}">
        <img src="https://community.cloudflare.steamstatic.com/public/images/signinthroughsteam/sits_02.png" alt="Sign in through Steam">
    </a>
</div>
{% endblock %}