# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'
    annotations: false
    http_method_override: false
    handle_all_throwables: true

    # Enables session support. Note that the session will ONLY be started if you read or write from it.
    # Remove or comment this section to explicitly disable session support.
    session:
        # Habilita el guardado de sesiones nativo en archivos
        handler_id: session.handler.native_file
        
        # IMPORTANTE: Esto le dice que guarde los archivos DENTRO de tu proyecto
        save_path: '%kernel.project_dir%/var/sessions/%kernel.environment%'
        
        # Configuración estándar de cookies
        cookie_secure: auto
        cookie_samesite: lax
        storage_factory_id: session.storage.factory.native

    #esi: true
    #fragments: true
    php_errors:
        log: true

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
